body{
    font-family: "Times New Roman", Times, serif;
    background-color:rgb(174, 59, 241);
}

h1, h2{
    color:blueviolet;
    text-align: center
}
p{
    color:rgb(250, 234, 10);
    width:400px;
}

img {
    max: width 200px;
    max-height: 200px;
    padding: 5px;
}

video{
    margin-left:auto;
    margin-right: auto;
}